blockquote {
  margin:0;
  padding:0;
  line-height:1.4em;
  text-align:right;
  position:absolute;
  top: 60px;
  right: 50px;
}

h1 {
  margin:0;
  padding:0.5em;
  font-size:36px;
  letter-spacing:-1px;
  font-weight:bolder;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2 {
  margin:0;
  font-size:18px;
  font-weight:normal;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding: 0.5em;
}

h3 {
  margin:0;
  padding:0;
  font-size:18px;
  font-weight:bolder;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

body {
  width: 900px;
  margin: 50px;
}

hr{
  display:block;
  position:relative;
  padding:0;
  margin:5px auto;
  width:100%;
  clear:both;
  border:none;
  border-top:1px solid #888;
  font-size:1px;
  line-height:0;
  overflow:visible;
  page-break-after:avoid
}
